<app-header></app-header>
<section class="hero is-success is-fullheight caviar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">
          Iniciar Sesion
          <span class="icon-surveillance-camera-side-view"></span>
        </h3>

        <hr class="login-hr" />
        <p class="subtitle has-text-black">
          Porfavor inicia sesion para continuar.
        </p>

        <div class="box">
          <figure class="avatar">
            <img
              src="https://www.biography.com/.image/t_share/MTY2NTIzMzc4MTI2MDM4MjM5/vincent_van_gogh_self_portrait_painting_musee_dorsay_via_wikimedia_commons_promojpg.jpg"
              width="180"
              height="180"
            />

            <!-- <img src="https://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="180" height="180"> -->
          </figure>
          <!-- <div class="notification is-danger is rounded" role="alert">
                        <button class="delete" data-dismissible="notification" aria-label="close"></button>
                        La contraseña no coincide
                      </div> -->

          <article *ngIf="data_error" class="message is-danger" role="alert">
            <div class="message-body">
              {{ data_error }}
            </div>
          </article>
          <!-- <button class="delete"></button> -->

          <!-- <div class="notification is-danger is-rounded">
                        <button class="delete"></button>
                        La contraseña no coincide
                      </div> -->
          <!-- <article class="message is-danger">
                        <div class="message-header">
                          <p>Ha ocurrido un error</p>
                          <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            La contraseña no coincide
                        </div>
                      </article> -->
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="field">
              <label class="label">Ingrese sus datos</label>
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <input
                  class="input is-large is-rounded"
                  type="email"
                  placeholder="Ingrese correo"
                  #email="ngModel"
                  name="email"
                  [(ngModel)]="user.email"
                  autofocus=""
                  required
                />
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
                <input
                  class="input is-large is-rounded"
                  type="password"
                  placeholder="Ingrese contraseña"
                  #password="ngModel"
                  name="password"
                  [(ngModel)]="user.password"
                  required
                />
              </div>
            </div>
            <!-- <div class="field">
                            <label class="checkbox">
                            <input type="checkbox">
                            Recordarme
                            </label>
                        </div> -->
            <button
              type="submit"
              class="button is-block is-info is-large is-fullwidth is-rounded is-outlined has-shadow"
            >
              Iniciar Sesion <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
            <!-- <a href="">click</a> -->
          </form>
        </div>
        <p class="has-text-grey">
          <a href="../">Registrarse</a> &nbsp;·&nbsp;
          <a href="../">Olvidaste tu contraseña</a> &nbsp;·&nbsp;
          <!-- <a href="../">Need Help?</a> -->
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->
