<div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon-surveillance-camera-filming-a-robber"></span>
        Productos
      </p>
      <button class="button is-small is-rounded" type="button">
        Refrescar <i class="fas fa-redo-alt"></i>
      </button>
      
    </header>
    <div class="notification is-card-toolbar">
      <div class="level">
        <div class="level-left">
          <div class="level-item is-rounded">
            <div class="buttons has-addons is-rounded">
              <button class="button is-active">A-Z</button>
              <button disabled="disabled" class="button">Precio</button>
              <button disabled="disabled" class="button">Mas reciente</button>
              <button disabled="disabled" class="button">Stock</button>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <form>
              <div class="field has-addons">
                <div class="control">
                  <input class="input" type="text" placeholder="Buscar producto">
                </div>
                <div class="control">
                  <a class="button is-primary">
                    <i class="fas fa-search"></i>
                  </a>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="table-container ">

        <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth is-hoverable">
          <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Productos</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="is-image-cell is-small">
              <!-- <div class="image">
                <img src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg" class="is-rounded">
              </div> -->
              <figure class="image is-96x96">
                <img src="https://secats.com/_files/200000233-2838428386/700/anuncio24gb.png" class="is-rounded" alt="Placeholder image">
              </figure>
            </td>
            <td>PAQUETE BÁSICO 1</td>
            <td>Kit de 4 camaras HD, videograbador y fuente de poder</td>
            <td>1 DVR:

              DVR 4 canales de vídeo en 720p + 1 IP
              Soporta 1 HDD de hasta 6 TB (NO INCLUIDO).
              Soporta protocolo coaxitron para PTZ TURBOHD 1080p.
              Salida de vídeo en Full HD (VGA y HDMI, salida simultanea)
              1 Puerto de red RJ45 ( 10 / 100 Mbps)
              4 Cámaras:
              
              Cámara bala con resolución HD 720p.
              Fabricadas en policarbonato
              20 mts IR EXIR (visión nocturna).
              Protección IP66.
              Fuente profesional de 3.3 amp:
              
              Alimenta  DVR y las 4 cámaras
              Incluye 4 cables para exterior de 18 metros cada uno.</td>
            
            <td>
              <small class="has-text-grey" title="Oct 25, 2018">$4,899</small>
            </td>
            <td>
              <div class="buttons is-right">
                <button class="button is-small is-primary is-rounded" type="button">
                  <i class="far fa-edit"></i>
                </button>
                <button class="button is-small is-danger is-rounded" data-target="sample-modal" type="button">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="is-image-cell is-small">
              <!-- <div class="image">
                <img src="https://avatars.dicebear.com/v2/initials/felicita-yundt.svg" class="is-rounded">
              </div> -->
              <figure class="image is-96x96">
                <img src="https://secats.com/_files/200000234-f1b89f1b8b/700/anuncio4gm.png" class="is-rounded" alt="Placeholder image">
              </figure>
            </td>
            <td>PAQUETE INTERMEDIO</td>
            <td>Monitorea desde movil, tableta o computadora</td>
            <td>1 DVR:

              DVR 4 canales de vídeo + 1 IP
              Soporta protocolo coaxitron para PTZ TURBOHD 1080p.
              Salida de vídeo en Full HD (VGA y HDMI, salida simultanea)
              1 Puerto de red RJ45 ( 10 / 100 Mbps)
              4 Cámaras:
              
              Cámara bala con resolución HD 720p.
              Fabricadas en Metal
              20 mts IR EXIR (visión nocturna).
              Protección IP66.
              1 Disco Duro 1 TB (USO RUDO)
              
              4 cables para exterior de 20 metros cada uno. 
              
              1 Fuente de poder 60 W para cámaras</td>
            
            <td>
              <small class="has-text-grey ">$8,799</small>
            </td>
            <td>
              <div class="buttons is-right">
                <button class="button is-small is-primary is-rounded" type="button">
                  <i class="far fa-edit"></i>
                </button>
                <button class="button is-small is-danger is-rounded" data-target="sample-modal" type="button">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="notification">
      <div class="buttons has-addons is-rounded">
        <button class="button is-active">
          1
        </button>
        <button class="button">
          2
        </button>
        <button class="button">
          3
        </button>
      </div>
    </div>
  </div>