@charset "utf-8";

// // Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
// // Import Caviar Dreams aqui tambien podria insertar cualquier fuente tipo trutype
@import 'caviar-dreams.scss';
// @import '../fonts/icomoon/style.css';

$button-focus-box-shadow-size:0 0 0 0.4rem;
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$electric: #3CC47C;

// h1 {
//     font-family: Caviar-Dreams, Caviar-Dreams-Bold, arial, sans-serif;
//   }

// // Update Bulma's global variables
$family-sans-serif: "Caviar Dreams", sans-serif;

.is-large{
    font-size: 1rem;
}

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// // Import only what you need from Bulma
// @import "../../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../../node_modules/bulma/sass/base/_all.sass";
// @import "../../../node_modules/bulma/sass/elements/button.sass";
// @import "../../../node_modules/bulma/sass/elements/container.sass";
// @import "../../../node_modules/bulma/sass/elements/title.sass";
// @import "../../../node_modules/bulma/sass/form/_all.sass";
// @import "../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../../node_modules/bulma/sass/layout/section.sass";