<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-12 is-variable">
        <div class="column is-two-thirds has-text-centered">
          <h1 class="title is-2">Contactanos</h1>
          <p class="is-size-5">Puedes contactarnos al:</p>
          <p class="is-size-6">(+52) 044 55 4003 0900</p>
          <p class="is-size-6">(+52) 044 55 5807 1969</p>
          <p class="is-size-6">O también en:</p>
          <div class="social-media">
            <a
              href="https://facebook.com"
              target="_blank"
              class="button is-light is-large"
              ><i class="fa fa-facebook-square" aria-hidden="true"></i
            ></a>
            <a
              href="https://instagram.com"
              target="_blank"
              class="button is-light is-large"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
            <a
              href="https://twitter.com"
              target="_blank"
              class="button is-light is-large"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <div class="column is-one-quarter has-text-justified">
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input is-small is-rounded" type="text" />
            </div>
          </div>
          <div class="field">
            <label class="label">Correo Electrónico</label>
            <div class="control">
              <input class="input is-small is-rounded" type="text" />
            </div>
          </div>
          <div class="field">
            <label class="label">Subject</label>
            <div class="control">
              <div class="select is-rounded is-small">
                <select>
                  <option>CCTV</option>
                  <option>GPS</option>
                  <option>Cercas Electrificadas</option>
                  <option>Paquetes</option>
                  <option>Reparación Camras Pelco</option>
                  <option>Biometricos</option>
                  <option>Reparación o Mantenimiento</option>
                  <option>Visita a Domicilio</option>
                  <option>Otra pregunta </option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea is-small veryrounded"></textarea>
            </div>
          </div>
          <div class="control">
            <button
              type="submit"
              class="button is-link is-fullwidth has-text-weight-medium is-small is-rounded"
            >
              Send Message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
