<div class="container has-text-centered">
  <div class="columns is-centered">
    <div class="column is-full">
      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">
            AVISO DE PRIVACIDAD
          </p>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <!-- START ARTICLE -->
              <div class="card article">
                <div class="card-content">
                  <div class="media">
                    <div class="media-content has-text-centered">
                      <p class="title article-title">SECATS</p>
                    </div>
                  </div>
                  <div class="content article-body has-text-justified">
                    <p>
                      SECATS es el responsable por el uso y protección de sus
                      datos personales, por lo cual estamos comprometidos a
                      resguardar su información personal con la mayor
                      discreción, seguridad legal, tecnológica y
                      administrativa.Por lo anterior y en cumplimiento a lo
                      establecido en la Ley Federal de Protección de Datos
                      Personales en Posesión de los Particulares, el presente
                      Aviso de Privacidad tiene como objetivo informarle sobre
                      el tratamiento que se le dará a sus datos personales
                      cuando los mismos son recabados, utilizados y almacenados.
                      Garantizándole que tomamos las medidas necesarias y
                      suficientes para que este aviso de privacidad sea
                      respetado en todo momento, por todos los que formamos
                      parte de este empresa, así como por los terceros con los
                      que tengamos alguna relación jurídica.
                    </p>
                  </div>
                </div>
              </div>
              <!-- END ARTICLE -->
              
          <!-- START ARTICLE -->
          <div class="card article">
            <div class="card-content">
              <div class="media" id="Que-datos">
                <div class="media-content has-text-centered">
                  <p class="title article-title">
                    ¿Qué datos personales recopilamos y utilizamos de usted?
                  </p>
                </div>
              </div>
              <div class="content article-body has-text-justified">
                <p>
                  Para llevar a cabo las finalidades descritas en el presente
                  aviso de privacidad, utilizaremos los datos personales de
                  identificación, contacto, laborales, académicos y
                  financieros.En esta recopilación nos comprometemos a observar
                  y cumplir con los principios de licitud, consentimiento,
                  información, calidad, finalidad, lealtad, proporcionalidad y
                  responsabilidad. Esto es, todos los datos que le solicitamos
                  son recabados de manera lícita y se lleva a cabo su
                  tratamiento, conforme a las disposiciones establecidas en la
                  Ley Federal de Protección de Datos en Posesión de los
                  Particulares.Por esto, nos comprometemos a que los datos
                  personales contenidos en nuestras bases de datos y utilizados
                  en nuestros procesos, sean pertinentes, correctos,
                  actualizados y necesarios para cumplir con los fines para los
                  cuales fueron recabados. Por tanto, le informamos que cuando
                  los datos de carácter personal hayan dejado de ser necesarios
                  para el cumplimiento de las finalidades previstas por este
                  aviso de privacidad y las disposiciones legales aplicables,
                  estos serán cancelados.
                </p>
              </div>
            </div>
          </div>
          <!-- END ARTICLE -->
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="/aviso" class="card-footer-item">Ver más</a>
        </footer>
      </div>
    </div>
  </div>
</div>
