<!--                 inicia servicios -->
<!-- inicia sobre nosotros -->
<div class="container content has-text-justified is-desktop">
  <section class="articles">
    <div class="row columns is-centered">
      <div class="column is-full">
        <!-- START ARTICLE -->
        <div class="card article">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title article-title">ACERCA DE NOSOTROS</p>
                <div class="tags has-addons level-item">
                  <!--                                     <span class="tag is-rounded is-info">@skeetskeet</span>
                            <span class="tag is-rounded">May 10, 2018</span> -->
                </div>
              </div>
            </div>
            <div class="columns is-gapless is-vcentered">
              <div class="column">
                <div class="content article-body">
                  <p>
                    Non arcu risus quis varius quam quisque. Dictum varius duis
                    at consectetur lorem. Posuere sollicitudin aliquam ultrices
                    sagittis orci a scelerisque purus semper.
                  </p>
                  <p>
                    Non arcu risus quis varius quam quisque. Dictum varius duis
                    at consectetur lorem. Posuere sollicitudin aliquam ultrices
                    sagittis orci a scelerisque purus semper.
                  </p>

                  <!--                             <h3 class="has-text-centered">How to properly center tags in bulma?</h3>
                    <p> Proper centering of tags in bulma is done with class: <pre>level-item</pre>
                        Voluptat ut farmacium tellus in metus vulputate. Feugiat in fermentum posuere urna nec. Pharetra convallis posuere morbi leo urna molestie.
                        Accumsan lacus vel facilisis volutpat est velit egestas. Fermentum leo vel orci porta. Faucibus interdum posuere lorem ipsum.</p> -->
                </div>
              </div>
              <div class="column is-centered">
                <figure class="image is-3by2">
                  <img
                    src="https://images.pexels.com/photos/3576112/pexels-photo-3576112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 "
                  />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- termina sobre nosotros -->
<!-- inicia lo mas nuevo -->
<section class="hero is-primary ">
  <div class="hero-body">
    <div class="media-content has-text-centered has-text-black-bis">
      <p class="title article-title">LO MÁS NUEVO</p>
      <div class="column is-full">
        <app-mas-nuevo></app-mas-nuevo>
      </div>
    </div>
  </div>
</section>
<!-- termoina los mas nuevo -->
<br>
<br>
<!-- <br> -->

<!-- inicia productos servicios  -->
<!-- termina articulo -->
<div class="container has-text-justified is-desktop">


  <div id="flow">
    <p class="title article-title has-text-centered">PRODUCTOS Y SERVICIOS</p>
  </div>
  <br />
  <br /><br />
  <!-- <div class="container content has-text-justified"> -->
  <link rel="stylesheet" href="productos-servicios.component.scss" />

  <!-- Developers -->

  <!-- vasdhjvas -->
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card large">
        <div class="card-image">
          <figure class="image is-2by1">
            <img
              src="/assets/img/beautiful-blue-eyes-close-up-dhyamis-kleber-609549.jpg"
              alt="Image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <!--                                     <figure class="image is-96x96">
                         <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                     </figure> -->
            </div>
            <div class="media-content">
              <p class="title is-4 no-padding">Sistema GPS</p>
              <!--                                     <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                     <p class="subtitle is-6">Lead Developer</p> -->
            </div>
          </div>
          <div class="content">
            The Beast stumbled in the dark for it could no longer see the path.
            It started to fracture and weaken, trying to reshape itself into the
            form of metal. Even the witches would no longer lay eyes upon it,
            for it had become hideous and twisted.
            <div class="background-icon">
              <span class="icon-twitter"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="card large">
        <div class="card-image">
          <figure class="image is-2by1">
            <img src="https://source.unsplash.com/pe_R74hldW4" alt="Image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <!--                                     <figure class="image is-96x96">
                         <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                     </figure> -->
            </div>
            <div class="media-content">
              <p class="title is-4 no-padding">
                Circuito Cerrado de Televisión (CCTV)
              </p>
              <!--                                     <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                     <p class="subtitle is-6">Developer</p> -->
            </div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
            consequatur numquam aliquam tenetur ad amet inventore hic beatae,
            quas accusantium perferendis sapiente explicabo, corporis totam!
            Labore reprehenderit beatae magnam animi!
            <div class="background-icon">
              <span class="icon-barcode"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card large">
        <div class="card-image">
          <figure class="image is-2by1">
            <img
              src="https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop="
              alt="Image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <!--                                     <figure class="image is-96x96">
                            <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                        </figure> -->
            </div>
            <div class="media-content">
              <p class="title is-4 no-padding">Cercas Electrificadas</p>
              <!--                                     <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                        <p class="subtitle is-6">Lead Developer</p> -->
            </div>
          </div>
          <div class="content">
            The Beast stumbled in the dark for it could no longer see the path.
            It started to fracture and weaken, trying to reshape itself into the
            form of metal. Even the witches would no longer lay eyes upon it,
            for it had become hideous and twisted.
            <div class="background-icon">
              <span class="icon-twitter"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="card large">
        <div class="card-image">
          <figure class="image is-2by1">
            <img src="https://source.unsplash.com/pe_R74hldW4" alt="Image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <!--                                     <figure class="image is-96x96">
                            <img src="https://i.imgsafe.org/a5/a5e978ce20.jpeg" alt="Image">
                        </figure> -->
            </div>
            <div class="media-content">
              <p class="title is-4 no-padding">Cercas electrificadas</p>
              <!--                                     <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                        <p class="subtitle is-6">Developer</p> -->
            </div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
            consequatur numquam aliquam tenetur ad amet inventore hic beatae,
            quas accusantium perferendis sapiente explicabo, corporis totam!
            Labore reprehenderit beatae magnam animi!
            <div class="background-icon">
              <span class="icon-barcode"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<!-- </div> -->
<section class="hero is-primary is-medium">
  <!-- inicia por que elegirnos -->
  <div class="container">
    <div id="flow">
      <p class="title article-title has-text-centered">POR QUE ELEGIRNOS</p>
      <span class="flow-1"></span>
      <span class="flow-2"></span>
      <span class="flow-3"></span>
    </div>

    <div class="row columns">
      <div class="column is-one-third">
        <div class="card medium">
          <div class="card-image">
            <figure class="image">
              <img
                src="https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop="
                alt="Image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <!--                                     <figure class="image is-96x96">
                         <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="Image">
                     </figure> -->
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding has-text-black-bis">
                  Cotizaciones gratuitas
                </p>
                <!--                                     <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
                     <p class="subtitle is-6">Lead Developer</p> -->
              </div>
            </div>
            <div class="content">
              The Beast stumbled in the dark for it could no longer see the
              path. It started to fracture and weaken, trying to reshape itself
              into the form of metal. Even the witches would no longer lay eyes
              upon it, for it had become hideous and twisted.
              <div class="background-icon">
                <span class="icon-twitter"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card medium">
          <div class="card-image">
            <figure class="image">
              <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <!--                                     <figure class="image is-96x96">
                         <img src="https://cdn.discordapp.com/avatars/244932903530659841/0c924a19fcf1b5c59bc9dc1b58b61bb0.jpg?size=1024" alt="Image">
                     </figure> -->
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding has-text-black-bis">
                  Garantia de un año y medio
                </p>
                <!--                                     <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p> -->
                <!--                                     <p class="subtitle is-6">Developer</p> -->
              </div>
            </div>
            <div class="content">
              The soul of the Beast seemed lost forever. Then, by the full
              moon's light, a child was born; child with the unbridled soul of
              the Beast that would make all others pale in comparison.
              <div class="background-icon">
                <span class="icon-facebook"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <a href="/quienes-somos" class="href">
          <div class="card medium">
            <div class="card-image">
              <figure class="image">
                <img
                  src="https://source.unsplash.com/pe_R74hldW4"
                  alt="Image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"></div>
                <div class="media-content">
                  <p class="title is-4 no-padding has-text-black-bis">
                    Asesoramiento
                  </p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum consequatur numquam aliquam tenetur ad amet inventore
                hic beatae, quas accusantium perferendis sapiente explicabo,
                corporis totam! Labore reprehenderit beatae magnam animi!
                <div class="background-icon">
                  <span class="icon-barcode"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>
  <br>
  
</section>

<!-- termina ppor que elegirnos -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
