<!-- <hr> -->
<footer class="footer">
  <div class="content has-text-centered">
    <!-- <div class="columns is-gapless">
        <div class="column"> -->
    <app-cuadro-contacto></app-cuadro-contacto>
    <a href="/aviso">Aviso de Privacidad</a>
    <br />
    <br />
    ©2020 SECATS Sistemas de CCTV Alarmas y Tecnologia Satelital Cd. de México,
    México.
  </div>
  <div class="conteiner has-text-centered">
    <div class="ft-right-payment" >
      <h6>ACEPTAMOS</h6>
      <br>
      <div class="bank-img">
        <img
          src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282733431754785346.png"
          class="c-img-con-m"
          width="50px"
        /><img
          src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732803587566708.png"
          class="c-img-con-m"
          width="50px"

        /><img
          src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273036537082707.png"
          class="c-img-con-m"
          width="50px"

        /><img
          src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282731141226198327.png"
          class="c-img-con-m"
          width="50px"

        /><img
          src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282735813528628258.png"
          class="c-img-con-m"
          width="50px"

        /><img
          src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282733253763969214.png"
          class="c-img-con-m"
          width="50px"

        /><img
          src="//img.ltwebstatic.com/images2_pi/2019/05/14/15578224212830489885.png"
          class="c-img-con-m"
          width="50px"

        />
      </div>
    </div>
  </div>
</footer>

