<!-- <app-nosotros-navbar>hola</app-nosotros-navbar> -->
<div class="columns is-mobile">
  <div class="column is-12 has-text-centered">
    <!-- <br>
          <br>
          SECATS es el responsable por el uso y protección de sus datos personales, por lo cual estamos comprometidos a resguardar su información personal con la mayor discreción, seguridad legal, tecnológica y administrativa.Por lo anterior y en cumplimiento a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, el presente Aviso de Privacidad tiene como objetivo informarle sobre el tratamiento que se le dará a sus datos personales cuando los mismos son recabados, utilizados y almacenados. Garantizándole que tomamos las medidas necesarias y suficientes para que este aviso de privacidad sea respetado en todo momento, por todos los que formamos parte de este empresa, así como por los terceros con los que tengamos alguna relación jurídica.
          <br>
          <br> -->
    <div class="container">
      <!-- START ARTICLE FEED -->
      <section class="articles">
        <div class="column is-10 is-offset-1">
          <!-- START ARTICLE -->
          <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">¿Quienes somos?</p>
                </div>
              </div>
              <div class="content article-body has-text-justified">
                <p>
                  Destacar en la industria de la seguridad por la eficiencia y
                  la excelencia de nuestros servicios.
                </p>
              </div>
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">¿Qué hacemos?</p>
                </div>
              </div>
              <div class="content article-body has-text-justified">
                <p>
                  Ser una de las empresas lideres en la industria de la
                  seguridad ofreciendo servicios especializados y de la más alta
                  calidad a cada uno de nuestros clientes favoreciendo la
                  recomedación "de boca en boca"
                </p>
              </div>
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">Misión</p>
                </div>
              </div>
              <div class="content article-body has-text-justified">
                <p>
                  Destacar en la industria de la seguridad por la eficiencia y
                  la excelencia de nuestros servicios.
                </p>
              </div>
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">Vsión</p>
                </div>
              </div>
              <div class="content article-body has-text-justified">
                <p>
                  Ser una de las empresas lideres en la industria de la
                  seguridad ofreciendo servicios especializados y de la más alta
                  calidad a cada uno de nuestros clientes favoreciendo la
                  recomedación "de boca en boca".
                </p>
                <p>
                  Extender la cobertura de seguridad a los sectores que los
                  soliciten.
                </p>
              </div>
              <br />
              <br />

              <div class="media-content has-text-centered">
                <p class="title article-title">Contamos con beneficios como:</p>
              </div>
            </div>
          </div>
          <!-- END ARTICLE -->
          <!-- aqui van colaboradores de SECATS -->
          <!-- START ARTICLE -->
          <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-content has-text-centered">
                  <p class="title article-title">
                    Colaboradores
                  </p>
                </div>
              </div>
              <div class="content article-body has-text-justified">
                <p></p>
              </div>
            </div>
          </div>
          <!-- termina articulo -->
        </div>
      </section>
    </div>
  </div>
</div>
