 <!--   INICIA SEGUNDA NAV BAR -->
 <nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
<!-- 				<a class="navbar-item" href="../">
                <img src="../images/bulma.png" alt="Logo">
            </a> -->
            <span class="navbar-burger hotdog" data-target="navbarMenu2">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu2" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active"></a>
                <a href="/aviso/#SECATS" class="navbar-item">SECATS</a>
                <a href="/aviso/#Que-datos" class="navbar-item">Datos que utilizamos</a>
                <a href="/aviso/#fines" class="navbar-item">Fin de sus Datos</a>
                <a href="/aviso/#divulgacion" class="navbar-item">Distribución de sus datos</a>
                <a href="/aviso/#consentimiento" class="navbar-item">Revocar su consentimiento</a>
                <a href="/aviso/#limitacion" class="navbar-item">Limitar la divulgacion de sus datos</a>
                <a href="/aviso/#cambios" class="navbar-item">Cambios de aviso</a>
                <!-- <a class="navbar-item">QUIENES SOMOS</a> -->
                <!-- <a class="navbar-item">Help</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Account</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Dashboard</a>
                        <a class="navbar-item">Profile</a>
                        <a class="navbar-item">Settings</a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">Logout</div>
                    </div>
                </div> -->
            </div>
        </div>
  
    </div>
    <!-- <hr> -->
</nav>

<!--   TERMINA SEGUNDA NAV BAR -->